<div class="messages">
<% if model.errors[field_name].size > 0 %><%= field_errors model, field_name, field_label %><% end %>
<% if info_body %><div class="info"><%= info_body %></div><% end %>
</div>
